/*style sheet for website*/
/*main body style*/
body {
	font-family: "Lucida Console", "Courier New", monospace;
	color: rgb(0, 0, 0);
}

h1 {
	font-family: "Comfortaa", "Calibri", monospace;
}

/*style for navigation bar*/
div.nav {
	z-index: 1;
}

li {
	float: left;
	border-right: 2px solid rgb(61, 212, 56)
}

li:last-child {
	border-right: none;
}

li a {
	display: block;
	color: rgb(83, 24, 24);
	text-align: center;
	padding: 15px 18px;
	text-decoration: none;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:rgb(104, 170, 91);
	border: 1px solid rgb(81, 105, 76);
	position: fixed;
	top: 0;
	width: 100%
}

li a:hover {
	background-color: rgb(51, 153, 31);
}

.active {
	background-color: rgb(201, 236, 194);
}

.search {
	margin-top: 13px;
	margin-left: 10px;
}


/*style for all-plants page(image gallery)*/
.gallery-container{
	display: grid;
	/*code found on https://savvy.co.il/en/blog/wordpress-design/how-the-minmax-function-works/#:~:text=The%20new%20minmax()%20function,and%20the%20other%20at%201fr.(Roee Yossef)*/
	grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
	gap: 20px;
	padding: 20px;
}


.gallery {
	border: 1px solid rgb(145, 233, 134);
	overflow: hidden;
	text-align: center;
	background-color: rgb(231, 225, 195);
	transition: transform 0.2s ease-in-out;
}


.gallery.hover {
	border: 1px solid rgb(146, 223, 153);
	transform: scale(1);
	border-color: rgb(146, 223, 153);
}


.gallery image {
	width: 100%;
	height: auto;
	display: block;
}


.description {
	padding: 15px;
	color:rgb(54, 49, 49)
}


/*style for individual plant pages*/
.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto auto auto;
	/*justify-content: space-evenly;*/
}

.grid-item1 {
	grid-row-start: 2;
}

.grid-item2 {
	grid-column-start: 1;
	grid-column-end: 2;
}

.grid_item3 {
	grid-area: 3/4/2/3;
}

/*style for custom 404 page*/
.error {
	margin-top: 100px
}

/*style for footer*/
.footer {
	background-color:rgb(231, 204, 144);
	position: fixed;
	bottom: 0;
}
