/*style sheet for website*/
/*main body style*/
body {
	font-family: "Roboto", monospace;
	color: rgb(0, 0, 0);
	margin: 0;
	padding-top: 40px;
	height: 100%;
}

h1, h2 {
	font-family: "Comfortaa", monospace;
	text-align: center;
	}

.page-title {
	padding: 30px;
}

.button {
    background-color: rgb(104, 170, 91); 
    color: rgb(83, 24, 24); 
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: rgb(81, 133, 71);}

/*style for navigation bar*/
.nav {
	z-index: 1;
	margin: 0;
	border: 0;
	padding: 0;
	outline: none;
	background-color: rgb(104, 170, 91);
	border-bottom: 1px solid rgb(81, 105, 76); 
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 0 2px 4px;
	font-family: 'Comfortaa', sans-serif;
}

.nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.nav li {
	border-right: 2px solid rgb(124, 182, 122);
	padding: 10 px;
	flex-grow: 1;
}

.nav li:last-child {
	border-right: none;
}

.nav li a {
	display: block;
	color: rgb(83, 24, 24);
	text-align: center;
	padding: 15px 18px;
	text-decoration: none;
	font-weight: bold;
}

.nav li a:hover {
	background-color: rgb(51, 153, 31);
}

.search {
	margin-top: 13px 10px;
	padding: 5px;
	align-self: center;
}

.nav form {
	display: flex;
	justify-content: center;
}

.nav input[type="text"] {
	padding: 5px 10px;
    border: 1px solid rgb(51, 104, 27);
    background-color: rgb(255, 255, 255);
    color: rgb(83, 24, 24);
    font-weight: bold;
    cursor: pointer;
}

.nav input[type="submit"]:hover {
    background-color: rgb(51, 153, 31);
}


/*style for home page*/
.home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    text-align: center;
    background-color: rgb(243, 242, 233);
    padding: 40px 20px;
}

.home-page h1 {
    font-size: 3.1em;
    font-family: "Comfortaa", sans-serif;
    color: rgb(104, 170, 91);
    margin-bottom: 20px;
}

.home-page p {
    font-size: 1.2em;
    color: rgb(83, 24, 24);
    margin-bottom: 30px;
    max-width: 800px;
    line-height: 1.6;
}

.homepage-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: rgb(104, 170, 91);
    color: rgb(78, 47, 47);
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    margin-top: 20px;
}

.home-page a:hover {
    background-color: rgb(51, 153, 31);
}


/*style for all-plants page(image gallery)*/
.gallery-container{
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;
	padding-bottom: 40px;
}

.gallery-link {
	text-decoration: none;
}

.gallery-item {
	border: 1px solid rgb(145, 233, 134);
	border-radius: 8px;
	overflow: hidden;
	text-align: center;
	background-color: rgb(231, 225, 195);
	padding: 10px;
	width: 220px;
}

.gallery-item:hover {
	border: 1px solid rgb(20, 150, 30);
	background-color: rgb(196, 184, 127);
	transform: translateY(-5px);
}

.gallery-container img {
	width: 100%;
	height: 220px;
	object-fit: cover;
	border-radius: 8px;
}

.description {
	padding: 15px;
	color:rgb(54, 49, 49);
}

.result-link {
	padding: 40px;
	text-decoration: none;
}

/*style for the status filter form*/
.filter {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px;
}

.filter label {
    margin-bottom: 8px;
}

/*style for the dropdown*/
.filter-options {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 12px;
}


/*style for individual plant pages*/
.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto auto;
	gap: 20px;
    padding: 40px;
	padding-bottom: 40px;
    background-color: rgb(145, 233, 134);
    border-radius: 10px;
    box-shadow: 0px 4px 8px;
    max-width: 800px;
    max-height: 450px;
    margin: 40px auto;
}

.grid-item1 {
	grid-column: 1 / 2;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-family: 'Comfortaa', sans-serif;
}

.grid-item2 {
	grid-column: 1 / 2;
	width: 100%;
	border: 2px solid rgb(145, 233, 134);
	border-radius: 8px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
}

.grid_item3 {
	display: flex;
	flex-direction: column;
    font-family: 'Comfortaa', sans-serif;
    padding: 20px;
}

.grid-item3 p:first-child {
    font-weight: bold;
    color: brown;
    font-size: 1.4em;
}

.add-to-watchlist-button {
	background-color: rgb(231, 225, 195);
    color: rgb(83, 24, 24);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
	float: right;
}


/*style for custom 404 page*/
.error-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(83, 24, 24);
    font-family: "Comfortaa", sans-serif;
	height: 85vh;
}

.error-page h1 {
    font-size: 5.0em;
    margin-bottom: 10px;
    color: rgb(104, 170, 91);
}

.error-page p {
    font-size: 1.2em;
    color: rgb(54, 49, 49);
    margin-bottom: 30px;
}

.error-page a {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(104, 170, 91);
    color: rgb(78, 47, 47);
    text-decoration: none;
    border-radius: 24px;
    font-weight: bold;
}

.error-page a:hover {
    background-color: rgb(51, 153, 31);
}

/*style for flash messages*/
.success {
	color: green;
	padding: 10px;
}

.error {
	color: red;
	padding: 10px;
}


/*style for login and signup pages*/
.form-container {
	display: flex;
	justify-content: center;
	background-color:aliceblue;
	height: 100vh;
	padding-bottom: 40px;
}

.form-box {
	margin-top: 100px;
	border-radius: 10px;
	box-shadow: 0px 4px 8px;
	padding: 40px;
	width: 300px;
	text-align: center;
	max-height: 200px;
}

.form-box h2 {
	font-family: "Comfortaa", sans-serif;
	margin-bottom: 20px;
	color:rgb(61, 212, 56)
}

.form-box a {
	text-decoration: none;
	font-weight: bold;
}

/*style for logged in username*/
.nav-username {
    font-weight: bold;
    font-size: 1.1em;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    margin-left: 10px;
    display: inline-block;
	text-align: center;
}

/*style for watchlist*/
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 20px;
}

.card {
    border: 5px solid rgb(67, 122, 55);
	border-radius: 4px;
    padding: 16px;
    margin: 8px;
    width: 200px;
	background-color: rgb(127, 192, 113) ;
	box-shadow: 0 4px 8px;
}

.watchlist-link {
	text-decoration: none;
}

.watchlist-button {
	background-color: rgb(231, 225, 195);
    color: rgb(83, 24, 24);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

/*style for footer*/
.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: rgb(93, 153, 81);
	width: 100%;
	padding: 1px;
}

.footer-content {
    padding: 0 2px;
	text-align: center;
	color: rgb(83, 24, 24);
	font-weight: bold;
}