/*style sheet for website*/
/*main body style*/
body {
	font-family: "Calibri", "Courier New", monospace;
	color: rgb(0, 0, 0);
	margin: 0;
	padding-top: 40px;
}


h1 {
	font-family: "Comfortaa", "Calibri", monospace;
}


/*style for navigation bar*/
.nav {
	z-index: 1;
	margin: 0;
	border: 0;
	padding: 0;
	outline: none;
	background-color: rgb(104, 170, 91);
	border-bottom: 1px solid rgb(81, 105, 76); 
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 0 2px 4px;
	font-family: 'Comfortaa', sans-serif;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

li {
	border-right: 2px solid rgb(124, 182, 122);
	padding: 10 px;
	flex-grow: 1;
}

li:last-child {
	border-right: none;
}

li a {
	display: block;
	color: rgb(83, 24, 24);
	text-align: center;
	padding: 15px 18px;
	text-decoration: none;
	font-weight: bold;
}

li a:hover {
	background-color: rgb(51, 153, 31);
}

.search {
	margin-top: 13px 10px 0px;
	padding: 5px;
	align-self: center;
}

.nav form {
	display: flex;
	justify-content: center;
}

.nav input{
	padding: 5px 10px;
    border: 1px solid rgb(61, 212, 56);
    background-color: rgb(104, 170, 91);
    color: rgb(83, 24, 24);
    font-weight: bold;
    cursor: pointer;
}

.nav input[type="submit"]:hover {
    background-color: rgb(51, 153, 31);
}


/*style for all-plants page(image gallery)*/
.gallery-container{
	display: grid;
	/*code found on https://savvy.co.il/en/blog/wordpress-design/how-the-minmax-function-works/#:~:text=The%20new%20minmax()%20function,and%20the%20other%20at%201fr.(Roee Yossef)*/
	grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
	gap: 20px;
	padding: 20px;
}

.gallery {
	border: 1px solid rgb(145, 233, 134);
	border-radius: 8px;
	overflow: hidden;
	text-align: center;
	background-color: rgb(231, 225, 195);
	transition: transform 0.2s ease-in-out;
}

.gallery.hover {
	border: 1px solid rgb(146, 223, 153);
	transform: scale(1);
	border-color: rgb(146, 223, 153);
}

.gallery image {
	width: 100%;
	height: auto;
	display: block;
}

.description {
	padding: 15px;
	color:rgb(54, 49, 49);
}


/*style for individual plant pages*/
.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto auto;
	gap: 20px;
    padding: 40px;
    background-color: rgb(145, 233, 134);
    border-radius: 10px;
    box-shadow: 0px 4px 8px;
    max-width: 800px;
    max-height: 450px;
    margin: 40px auto;
}

.grid-item1 {
	grid-column: 1 / 3;
	text-align: center;
	font-weight: bold;
	font-family: 'Comfortaa';
}

.grid-item2 {
	grid-column: 1 / 2;
	width: 100%;
	border: 2px solid rgb(145, 233, 134);
	border-radius: 8px;
}

.grid_item3 {
	display: flex;
	flex-direction: column;
    font-family: 'Calibri', sans-serif;
    padding: 20px;
}

.grid-item3 p:first-child {
    font-weight: bold;
    color: brown;
    font-size: 1.4em;
}


/*style for custom 404 page*/
.error-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(83, 24, 24);
    font-family: "Comfortaa", sans-serif;
}

.error-page h1 {
    font-size: 5.0em;
    margin-bottom: 10px;
    color: rgb(104, 170, 91);
}

.error-page p {
    font-size: 1.2em;
    color: rgb(54, 49, 49);
    margin-bottom: 30px;
}

.error-page a {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(104, 170, 91);
    color: rgb(78, 47, 47);
    text-decoration: none;
    border-radius: 24px;
    font-weight: bold;
}

.error-page a:hover {
    background-color: rgb(51, 153, 31);
}


/*style for footer*/
.footer {
	position: fixed;
	bottom: 0;
}
