<!--all plants page with jinja-->
{%extends "layout.html"%}
{%block content%}
  <h1>All plants</h1>

  <!--status filter-->
  <form method="GET" action="/all_plant">
    <label for="status">Filter by status:</label>
    <select name="status">
      <option value="">All</option>
      <option value="Not-Threatened" {% if status_filter == 'Not-Threatened' %}selected{% endif %}>Not-Threatened</option>
      <option value="Threatened" {% if status_filter == 'Threatened' %}selected{% endif %}>Threatened</option>
      <option value="At-Risk" {% if status_filter == 'At-Risk' %}selected{% endif %}>At-Risk</option>
    </select>
    <button type="submit">Filter</button>
  </form>

    <!--image gallery-->
  <div class="gallery-container">
    {% if plant %}
      {% for plant in plant %}
        <a href='plant/{{ plant[0] }}' class="gallery-link">
          <div class="gallery-item">
            <img src="{{ plant[5] }}" alt="Image of {{ plant[1] }}" width="200px" height="120px">
            <p>{{ plant[1] }}</p>
            <p class="description">{{ plant[2] }}</p>
          </div>
        </a>
      {% endfor %}
    {% else %}
      <p>No plants found with the selected filter</p>
    {% endif %}
  </div>
{% endblock %}

