<!doctype html>
    <head>
        <title>Plants</title>
        <!---link to stylesheet-->
        <link rel="stylesheet" href="/static/style.css">
        <!-- favicon -->
        <link rel="icon" href="/static/favicon.svg" type="image/svg+xml">

    </head>
    <body>
        <!--navigation bar-->
        <div class="nav">
            <ul>              
                <li><a href="http://127.0.0.1:5000/">
                    <img src="/static/favicon.svg" alt="Home" style="width: 16px; height: 16px;">
                    Plant Preservation
                    </a>
                </li>
                <li><a href="http://127.0.0.1:5000/all_plant">All Plants</a></li>
                    <!-- Search form -->
                <li>
                    <form action="/search" method="GET" class="search">
                        <input type="text" name="search_term" placeholder="Search plants..." maxlength="30">
                        <input type="submit" value="Search">
                    </form>
                </li>
                {% if session['username'] %}
                    <li class="logout">
                        <p class="username">{{ session['username']}}</p>
                        <a href="/logout">Logout</a>
                    </li>
                {% else %}
                    <li><a href="http://127.0.0.1:5000/login">Login here</a></li>
                    <li><a href="http://127.0.0.1:5000/signup">Sign Up here</a></li>
                {% endif %}
            </ul>
        </div>
        <!--main(with jinja)-->
        <main>
            {%block content%} {%endblock%}
        </main>
        <!--footer-->
        <footer class="footer">
                <div class="footer-content">
                    <p>Contact us at: <a href="21434@burnside.school.nz">21434@burnside.school.nz</a></p>
                </div>
        </footer>
    </body>

