<!doctype html>
    <head>
        <title>Plants</title>
        <!---link to stylesheet-->
        <link rel="stylesheet" href="/static/style.css">
    </head>

    <body>
        <!--navigation bar-->
        <div class="nav">
            <ul>
                <li><a href="http://127.0.0.1:5000/">Home</a></li>
                <li><a href="http://127.0.0.1:5000/all_plant">All Plants</a></li>
                    <!-- Search form -->
                <li>
                    <form action="/search" method="GET">
                        <input type="text" name="search_term" placeholder="Search plants..." class="search">
                        <input type="submit" value="Search">
                    </form>
                </li>
                <li><a href="http://127.0.0.1:5000/login">Login here</a></li>
                <li><a href="http://127.0.0.1:5000/signup">Sign Up here</a></li>
            </ul>
        </div>
        <!--main(with jinja)-->
        <main>
            {%block content%} {%endblock%}
        </main>
        <!--footer-->
        <footer>
            Contact us here: abcd@gmail.com
        </footer>
    </body>

