<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Plant Preservation</title>
        <!--import fonts-->
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <!---link to stylesheet-->
        <link rel="stylesheet" href="/static/style.css">
        <!--favicon-->
        <link rel="icon" href="/static/favicon.svg" type="image/svg+xml">

    </head>
    <body>
        <!--navigation bar-->
        <div class="nav">
            <ul>
                <li><a href="http://127.0.0.1:5000/">
                    <!--favicon in navigation bar(on Home button)-->
                    <img src="/static/favicon.svg" type="image/svg+xml" style="width: 16px; height: 16px;">
                    Plant Preservation
                    </a>
                </li>
                <li><a href="http://127.0.0.1:5000/all_plant">All Plants</a></li>
                <li>
                    <!-- search form -->
                    <form action="/search" method="GET" class="search">
                        <input type="text" name="search_term" placeholder="Search plants..." maxlength="30">
                        <input type="submit" value="Search">
                    </form>
                </li>
                <!--check if someone is logged in-->
                {% if session['username'] %}
                    <!--if someone is logged in, show their username and a logout button on the nav bar-->
                    <li class="nav-username">{{ session['username'] }}</li>
                    <li class="logout"><a href="/logout">Logout</a></li>
                <!--is no one is logged in, show the login and signup buttons on nav bar-->
                {% else %}
                    <li><a href="http://127.0.0.1:5000/login">Login here</a></li>
                    <li><a href="http://127.0.0.1:5000/signup">Sign Up here</a></li>
                {% endif %}
            </ul>
        </div>
        <!--main(with jinja)-->
        <main>
            {%block content%} {%endblock%}
        </main>
        <!--footer-->
        <footer class="footer">
                <div class="footer-content">
                    <p>Contact us at: 21434@burnside.school.nz</a></p>
                </div>
        </footer>
    </body>
</html>
