{% extends "layout.html" %}

{% block content %}
    <h1>Search Results for "{{ search_term }}"</h1>
    {% if result %}
        <ul class="gallery-container">
            {% for plant in result %}
                <li class="gallery-item"><a href='plant/{{plant[0]}}' class="result-link">{{ plant[1] }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No plants found matching your search.</p>
    {% endif %}
    {% for message in get_flashed_messages() %}
     <div class="alert">{{ message }}</div>
    {% endfor%}
{% endblock %}